.body {
    background-color: teal;
}

.title {
    color: lightcoral;
    font-size: xx-large;
    text-align: center;
}

.box {
    display: flex;
    background-color: rgb(46, 221, 122);
    border-color: rgb(6, 5, 4);
    border-style: dashed;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}


.square {
    margin: auto;
    border-color: black;
    background-color: aqua;
    border-style: groove;
    align-items: flex-start;
    width: fit-content;
}

.circle {
    height: 99%;
    width: 99%;
    background-color: rgb(88, 19, 218);
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    border-style: solid;
}

.meta {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: flex-start;
    margin: auto;
    width: fit-content;
}

.button {
    height: 50px;
    width: 50px;
    color: blueviolet;
    margin: auto;
    margin-bottom: 80%;
}

.resultsbox {
    background-color: antiquewhite;
    border-color: black;
    text-align: left;
    font-size: large;
    font-weight: bold;
    border-style: groove;
    padding: 5%;
    margin: auto;
    /* overflow-x: wrap; */
    width: fit-content;
}